
<div class="d-flex justify-content-between">
    <button class="btn btn-outline-dark ml-4 mb-2"
            (click)="previous()"
    >Previous</button>
    <span *ngIf="totalPages">page {{currentPage + 1}} of {{totalPages}}</span>
    <span *ngIf="!totalPages">page 0 of 0</span>
    <button class="btn btn-outline-dark mr-4 mb-2"
            (click)="next()"
    >Next</button>
</div>
<app-ticket-table [forCompany]="false" [isAdmin]="isAdmin" [tickets]="tickets" (ticketDeleted)="updateTable()"></app-ticket-table>
